<div class="ui main container">
    <header>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">maker.json</a>
            <a href="/" class="item">Home</a>
            <a href="/specification" class="item">Specification</a>
            <a href="/example" class="item">Example JSON</a>
            <a href="/builder" class="item">Builder</a>
            <a href="/validator" class="item">Validator</a>
        </div>
    </div>
</header>
</div>
